@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }

  section {
    @apply mx-auto max-w-screen-2xl px-6 py-8;
  }

  .blue__gradient {
    background: linear-gradient(180deg, #1d4ed8 0%, #0c4a6e 100%);
    filter: blur(123px);
  }

  .purple__gradient {
    background: linear-gradient(180deg, #a855f7 0%, #8d01ff 100%);
    filter: blur(123px);
  }

  .text-gradient {
    background: radial-gradient(
      64.18% 64.18% at 71.16% 35.69%,
      #bfd0fe 0.89%,
      #93affd 17.23%,
      #6088fa 42.04%,
      #b77feb 55.12%,
      #2559eb 71.54%,
      #9d5ed8 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}
